body {
    background:#fbfbfa;
}
.row {
    margin:15px auto;
}
.popover {
    display:inline-block;
    position:relative;
}
.mast {
    background:#333;
    color:#fbfbfa;
    margin:0;
    padding:100px 0;
    text-align:center;
    width:100% !important;
}
.example {
    padding:15px 0;
}
.example .row {
    background:#f2f2f2;
    background-color:rgba(0,0,0,.1);
    border-radius:5px;
    margin:0 auto 1.5306122%;
}
.example .row h1 {
    padding:10px 15px 0;
}
.example .col {
    background:#ffccf6;
    background:rgba(255,0,211,.2);
    border-radius:5px;
    min-height:20px;
}
.example.fixed .row,
.example .row.fixed,
.fixed .example .row {
    margin:0 auto 15px;
}

/* FROM AIRSHIP */

/* header */
.header {
    background:#e0e1dd;
    background:-webkit-linear-gradient(top, #ecede8, #e0e1dd);
    background:-moz-linear-gradient(top, #ecede8, #e0e1dd);
    box-shadow:rgba(255,255,255,.5) 0 1px inset, 
        rgba(0,0,0,.4) 0 0 5px 0;
    height:auto;
}
/* util-nav */
.util-nav {
    font-size:0;
    list-style:none;
    margin:0;
}
.util-nav > li {
    color:#666664;
    display:inline-block;
    font-size:12px;
    line-height:40px;
    margin:0;
    vertical-align:top;
    white-space:nowrap;
}
.util-nav > li > a {
    display:block;
    color:#666664;
    font-weight:bold;
    height:40px;
    padding:0 13px 0 10px;
    text-shadow:rgba(255,255,255,.8) 0 1px 0;
    text-decoration:none;
}
.util-nav > li > a:hover {
    color:#4c4c45;
    text-decoration:none;
}
.util-nav > li > a:active,
.util-nav > li > a.active {
    background:#929292;
    box-shadow:rgba(0,0,0,.5) 0 2px 13px inset;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,.25);
}



/* Default desktop */
@media (min-width: 980px) and (max-width: 1400px) {
    .row {width:980px;}
}
/* Large desktop */
@media (min-width: 1400px) {
    .row {width:1400px;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .row {width:760px;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .row {width:320px;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .row {width:320px;}
}