body {
    background:#fbfbfa;
}
.row {
    margin:15px auto;
}
.popover {
    display:block;
}
.mast {
    background:#333;
    color:#fbfbfa;
    margin:0;
    padding:100px 0;
    text-align:center;
    width:100% !important;
}
.example {
    padding:15px 0;
}
.example .row {
    background:#f2f2f2;
    background-color:rgba(0,0,0,.1);
    border-radius:5px;
    margin:0 auto 1.5306122%;
}
.example .row h1 {
    padding:10px 15px 0;
}
.example .col {
    background:#ffccf6;
    background:rgba(255,0,211,.2);
    border-radius:5px;
    min-height:20px;
}
.example.fixed .row,
.example .row.fixed,
.fixed .example .row {
    margin:0 auto 15px;
}

/* Default desktop */
@media (min-width: 980px) and (max-width: 1400px) {
    .row {width:980px;}
}
/* Large desktop */
@media (min-width: 1400px) {
    .row {width:1400px;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .row {width:760px;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .row {width:320px;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .row {width:320px;}
}