/* 20 column fluid grid */
.row {
    clear:both;
    margin:0 auto;
    /*width:96.9387755%;*/
    width:100%;
}
.col {
    float:left;
    margin-left:1.5625%;
    min-height:1px;
    position:relative;
    width:3.515625%;
}

/* fluid column units */
.col.two {width:8.59375%;}
.col.three {width:13.671875%;}
.col.four {width:18.75%;}
.col.five {width:23.828125%;}
.col.six {width:28.90625%;}
.col.seven {width:33.984375%;}
.col.eight {width:39.0625%;}
.col.nine {width:44.140625%;}
.col.ten {width:49.21875%;}
.col.eleven {width:54.296875%;}
.col.twelve {width:59.375%;}
.col.thirteen {width:64.453125%;}
.col.fourteen {width:69.53125%;}
.col.fifteen {width:74.609375%;}
.col.sixteen {width:79.6875%;}
.col.seventeen {width:84.765625%;}
.col.eighteen {width:89.84375%;}
.col.nineteen {width:94.921875%;}
.col.twenty {margin-left:0;width:100%;}

/* fluid column layout fix */
.col:first-child {margin-left:0;}


/* clear floats*/
.row:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
